<% layout('layouts/boilerplate') %>

<div class="alert alert-danger" role="alert">
    <img class="img-fluid"src="https://qph.fs.quoracdn.net/main-qimg-22f0e7d4e7b7834be52205ff9d077ad4" alt="Crash server">
    <h4 class="alert-heading"><%=err.message%></h4>
    <p>Aww yeah, you successfully go to nowhere </p>
    <form action="/campgrounds" method="get">
        <button class="btn btn-success">Return to campgrounds</button>
    </form>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>